In [1]:
#1
class Calculator:
    def __init__(self, first_value, operator, second_value):
        print("Let's Calculate!")
        self.first_value = first_value
        self.operator = operator
        self.second_value = second_value

        print(f"Value 1: {self.first_value}")
        print(f"Operator: {self.operator}")
        print(f"Value 2: {self.second_value}")

        if self.operator == "+":
            Calculator.add(self)
        elif self.operator == "-":
            Calculator.subtract(self)
        elif self.operator == "*":
            Calculator.multiply(self)
        elif self.operator == "/":
            Calculator.divide(self)

    def add(self):
        print(f"Result : {self.first_value + self.second_value}")

    def subtract(self):
        print(f"Result : {self.first_value - self.second_value}")

    def multiply(self):
        print(f"Result : {self.first_value * self.second_value}")

    def divide(self):
        print(f"Result : {self.first_value / self.second_value}")


first_value = int(input())
operator = input()
second_value = int(input())

calc = Calculator(first_value, operator, second_value)

1
+
2
Let's Calculate!
Value 1: 1
Operator: +
Value 2: 2
Result : 3

In [ ]:
#2
class Course:
  def __init__(self,course,faculty,sec):
    self.course=course
    self.faculty=faculty
    self.sec=sec
  def detail(self):
    print(self.course,'-',self.faculty,'-',self.sec)
c1=Course('CSE110',' TBA',8)
c1.detail()
print("===============")
c2=Course('CSE111',' TBA',9)
c2.detail()

CSE110 -  TBA - 8
===============
CSE111 -  TBA - 9

In [ ]:
#3
class Patient:
  def __init__(self,name,age,weight,height):
    self.name=name
    self.age=age
    self.weight=weight
    self.height=height
  def printDetails(self):
    print(' Name:',self.name)
    print(' Age:',self.age)
    print(' Weight:',self.weight)
    print(' Hight',self.height)
    print(' BMI',(self.weight/((self.height/100)**2)))
p1=Patient(' A',55,63.0,158.0)
p1.printDetails()
print(' ==========================')
p2=Patient(' B',53,61.0,149.0)
p2.printDetails()

 Name:  A
 Age: 55
 Weight: 63.0
 Hight 158.0
 BMI 25.236340330075304
 ==========================
 Name:  B
 Age: 53
 Weight: 61.0
 Hight 149.0
 BMI 27.476239809017613

In [ ]:
#4
class Vehicle():
  def __init__(self):
    self.x=0
    self.y=0
  def moveUp(self):
    self.y+=1
  def moveLeft(self):
    self.x-=1
  def moveDown(self):
    self.y-=1
  def moveRight(self):
    self.x+=1
  def print_position(self):
    print((self.x,self.y))
car=Vehicle()
car.print_position()
car.moveUp()
car.print_position()
car.moveLeft()
car.print_position()
car.moveDown()
car.print_position()
car.moveRight()

(0, 0)
(0, 1)
(-1, 1)
(-1, 0)

In [ ]:
#5
class Shape:
  def __init__(self,name,a,b):
    self.name=name
    self.a=a
    self.b=b
  def area(self):
    if self.name=='Triangle' or self.name=='Rhombus':
      print('Area:',(self.a*self.b)/2)
    elif self.name=='Square' or self.name=='Rectangle':
      print('Area:',(self.a*self.b))
    else:
      print('Area:','Shape Unknown')
triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
==========================
Area: 100
==========================
Area: 225.0
==========================
Area: 450
==========================
Area: Shape Unknown

In [ ]:
#6
class Calculator:
  def __init__(self):
    print('Calculator is ready!')
  def calculate(self,val1,val2,operator):
    self.val1=val1
    self.val2=val2
    self.operator=operator
    if self.operator=='+':
      sum=self.val1+self.val2
      return sum
    elif self.operator=='-':
      sub=self.val1-self.val2
      return sub
    elif self.operator=='*':
      mul=self.val1*self.val2
      return mul
    elif self.operator=='/':
      div=self.val1/self.val2
      return div
  def showCalculation(self):
    print(self.val1,self.operator,self.val2,' =',self.calculate(self.val1,self.val2,self.operator))
c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready!
==================
Returned value: 30
10 + 20  = 30
==================
Returned value: 20
30 - 10  = 20
==================
Returned value: 100
20 * 5  = 100
==================
Returned value: 6.25
100 / 16  = 6.25

In [ ]:
#7
class Student:
  def __init__(self,name,id,department,cgpa):
    self.name=name
    self.id=id
    self.department=department
    self.cgpa=cgpa
    
  def calculate_CGPA(self):
    sum=0
    for i in self.cgpa:
      sum+=(i*3)
    self.final=sum/(len(self.cgpa)*3)

  def print_details(self):
    print('Name:',self.name+',','ID:',self.id)
    print('Department:',self.department)
    print('CGPA:',self.final)
    if self.final>3.80:
      print("Your academic standing is 'Highest Distinction'")
    elif self.final>3.65:
      print("Your academic standing is 'High Distinction'")
    elif self.final>3.50:
      print("Your academic standing is 'Distinction'")
    elif self.final>2:
      print("Your academic standing is 'Satisfactory'")
    elif self.final<2:
      print('Sorry,you cannot gradute')
    

s1 = Student('Dora', '15995599','CSE', [4,3.7,3.7,4])
s1.calculate_CGPA()
print("==========================")
s1.print_details()
print("==========================")
s2 = Student('Pingu', '12312322', 'EEE', [1.7,1.3,1.3,1.3,1])
s2.calculate_CGPA()
print("==========================")
s2.print_details()
print("==========================")
s3 = Student('Bob', '13311331', 'CSE', [2,3,3,3.7,2.7,2.7])
s3.calculate_CGPA()
print("==========================")
s3.print_details()

==========================
Name: Dora, ID: 15995599
Department: CSE
CGPA: 3.85
Your academic standing is 'Highest Distinction'
==========================
==========================
Name: Pingu, ID: 12312322
Department: EEE
CGPA: 1.32
Sorry,you cannot gradute
==========================
==========================
Name: Bob, ID: 13311331
Department: CSE
CGPA: 2.85
Your academic standing is 'Satisfactory'

In [ ]:
#8
class Shinobi:
  def __init__(self,name,rank):
    self.name=name
    self.rank=rank
    self.salary=0
    self.mission=0
  def changeRank(self,updated_rank):
    self.rank=updated_rank
  def calSalary(self,mission):
    self.mission=mission
  def printInfo(self):
    print('Name:', self.name)
    print('Rank:',self.rank)
    print('Number of mission:',self.mission)    
    if self.rank=='Genin':
      print('Salary:',self.mission*50)
    elif self.rank=='Chunin':
      print('Salary:',self.mission*100)
    else:
      print('Salary:',self.mission*500)
naruto = Shinobi("Naruto", "Genin")
naruto.calSalary(5)
naruto.printInfo()
print('====================')
shikamaru = Shinobi('Shikamaru', "Genin")
shikamaru.printInfo()
shikamaru.changeRank("Chunin")
shikamaru.calSalary(10)
shikamaru.printInfo()
print('====================')
neiji = Shinobi("Neiji", "Jonin")
neiji.calSalary(5)
neiji.printInfo()

Name: Naruto
Rank: Genin
Number of mission: 5
Salary: 250
====================
Name: Shikamaru
Rank: Genin
Number of mission: 0
Salary: 0
Name: Shikamaru
Rank: Chunin
Number of mission: 10
Salary: 1000
====================
Name: Neiji
Rank: Jonin
Number of mission: 5
Salary: 2500

In [ ]:
#9
class Programmer:
  def __init__(self,name,language,experience):
    self.name=name
    self.language=language
    self.experience=experience
    print('Horry! A new programmer is born')
  def printDetails(self):
    print('Name:',self.name)
    print('Language:',self.language)
    print('Experience:',self.experience,'years')
  def addExp(self,updated_exp):
    print('Updating experience of',self.name)
    self.experience+=updated_exp
p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horry! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10 years
--------------------------
Horry! A new programmer is born
Name: James Bond
Language: C++
Experience: 7 years
--------------------------
Horry! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4 years
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9 years

In [ ]:
#10
class UberEats:
  def __init__(self,name,phone,location):
    self.name=name
    self.phone=phone
    self.location=location
    print(self.name+', welcome to UberEats!')
  def add_items(self,item1,item2,price1,price2):
    self.items={item1:price1,item2:price2}
    self.total=self.items[item1]+self.items[item2]
  def print_order_detail(self):
    str1='User details: Name: '+self.name+', '+'Phone: '+self.phone+', '+ 'Address: '+self.location
    str2='\nOrders: '+str(self.items)
    str3='\nTotal Paid Amount: '+str(self.total)
    str4=str1+str2+str3
    return str4
order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50)
print("=========================")
print(order1.print_order_detail())
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib, welcome to UberEats!
=========================
=========================
User details: Name: Shakib, Phone: 01719658xxx, Address: Mohakhali
Orders: {'Burger': 220, 'Coca Cola': 50}
Total Paid Amount: 270
=========================
Siam, welcome to UberEats!
=========================
=========================
User details: Name: Siam, Phone: 01719659xxx, Address: Uttara
Orders: {'Pineapple': 80, 'Dairy Milk': 70}
Total Paid Amount: 150

In [ ]:
#11
class Spotify:
  def __init__(self,song_list):
    self.song_list=song_list
    print('Welcome to Spotify!')

  def playing_number(self,song_no):
    if song_no<=len(self.song_list):
      str1='Playing '+str(song_no)+' number song for you'
      str2='\nSong name: '+self.song_list[song_no-1]
      str4=str1+str2
      return str4
    
    else:
      str1= str(song_no)+' number song not found. Your playlist has '+str(len(self.song_list))+' songs only.'
      str4=str1
      return str4
  def add_to_playlist(self,newsong):
    self.song_list.append(newsong)
user1 = Spotify(["See You Again", "Uptown Funk", "Hello"])
print("=========================")
print(user1.playing_number(4))
print('########################+##')
user1.add_to_playlist("Dusk Till Dawn")
print(user1.playing_number(3))
print('########################+##')
print(user1.playing_number(4))

Welcome to Spotify!
=========================
4 number song not found. Your playlist has 3 songs only.
########################+##
Playing 3 number song for you
Song name: Hello
########################+##
Playing 4 number song for you
Song name: Dusk Till Dawn