# ***String***

In [ ]:
#1
a=input('Enter a string: ')
b=0
c=0
for i in a:
  if i.isupper():
    b+=1
  elif i.islower():
    c+=1
if b>c:
  print(a.upper())
else:
  print(a.lower())

In [ ]:
#1(alter)
a=input()
b=0
c=0
for i in a:
  if 97<=ord(i)<=122:
    b+=1
  elif 65<=ord(i)<=90:
    c+=1
d=''
if b<c:
  for j in a:
    if 97<=ord(j)<=122:
       d+=chr(ord(j)-32)
    elif 65<=ord(j)<=90:
      d+=j
  print(d)
else:
  for k in a:
    if 97<=ord(k)<=122:
       d+=k
    elif 65<=ord(k)<=90:
      d+=chr(ord(k)+32)
  print(d)

In [ ]:
#2
a=input()
flag1=False
flag2=False
for i in a:
  if 48<=ord(i)<=57:
    flag1=True
  elif 65<=ord(i)<=122:
    flag2=True
if flag1==True and flag2==True:
  print(' MIXED')
elif flag1==True:
  print('Number')
elif flag2==True:
  print(' WORD')

jhg34y7
 MIXED

In [ ]:
#3
a=input()
b='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
for i in range(len(a)):
  if a[i] in b:
    c=a[i+1:len(a)+1]
    for j in range(len(c)):
      if c[j] in b:
        d=c[:j]
if len(d)>0:
   print(d)
else:
    print('BLANK')

coDIng
BLANK

In [ ]:
#4
a1=input()
a2=input()
b=''
c='Nothing in common.'
flag=False
for i in a1:
  if i in a2:
    b+=i
    flag=True
for i in a2:
  if i in a1:
    b+=i
    flag=True
if flag==False:
  print(c)
else:
  print(b)

dean
tom
Nothing in common.

In [ ]:
#5
a=input()
x1=False
x2=False
x3=False
x4=False
n='_$#@'
for i in a:
  if 97<=ord(i)<=122:
    x1=True
  elif 65<=ord(i)<=90 :
    x2=True
  elif 48<=ord(i)<=57:
    x3=True
  elif i in n:
    x4=True
if x1==True and x2==True and x3==True and x4==True:
  print('OK') 
elif x1==True and x2==False and x3==False and x4==False:
  print('Uppercase character missing, Digit missing, Special character missing')
elif x1==True and x2==True and x3==False and x4==True:
  print(' Digit missing')
elif x1==False and x2==True and x3==True and x4==True:
  print('Lowercase character missing')
elif x1==True and x2==False and x3==True and x4==True:
  print('Uppercase character missing')
elif x1==True and x2==True and x3==True and x4==False:
  print('Special character missing')
elif x1==False and x2==True and x3==False and x4==False:
  print('Lowercase character missing, Digit missing, Special character missing')
elif x1==False and x2==False and x3==False and x4==True:
  print('Lowercase character missing,Uppercase character missing, Digit missing')
elif x1==False and x2==False and x3==True and x4==False:
  print('Lowercase character missing,Uppercase character missing, Special character missing')
elif x1==False and x2==False and x3==True and x4==True:
  print('Lowercase character missing,Uppercase character missing')
elif x1==True and x2==True and x3==False and x4==False:
  print('Digit missing, Special character missing')
elif x1==False and x2==True and x3==True and x4==False:
  print('Lowercase character missing, Special character missing')
elif x1==False and x2==True and x3==False and x4==True:
  print('Lowercase character missing, Digit missing')
elif x1==True and x2==False and x3==False and x4==True:
  print('Uppercase character missing, Digit missing')
elif x1==True and x2==False and x3==True and x4==False:
  print('Uppercase character missing, Special character missing')

OhMyBR@CU20
OK

# ***list***

In [ ]:
#1
count=0
dict1={}
while True:
  num=input()
  if num=='End':
    break
  else:
    if num in dict1:
      dict1[num]+=1
    else:
      dict1[num]=1
for x,y in dict1.items():
  print(x,'-',y,'times')

10
20
20
30
10
50
90
End
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#2
n=int(input('Enter the list number '))
list1=[]
list2=[]
for i in range(n):
  val=input('Enter a string separated by space ')
  y=val.split(' ')
  y=[int(i) for i in y]
  list1.append(y)
  sum=0
  for j in range(len(y)):
    sum+=y[j]
  list2.append(sum)
  max1=max(list2)
  ind=list2.index(max1)
  x=list1[ind]
print(max1)
print(x)

Enter the list number 4
Enter a string separated space 1 2 3
Enter a string separated space 4 5 6
Enter a string separated space 10 11 12
Enter a string separated space 7 8 9
33
[10, 11, 12]

In [ ]:
#3
while True:
  val=input('Enter a string separated by space ')
  if val=='STOP':
    break
  else:
    x=val.split(' ')
    x=[int(i) for i in x]
    list1=[]
    list2=[]
    for j in range(1,len(x)):
      list1.append(j)
    for k in range(len(x)-1):
       diff=abs(x[k]-x[k + 1])
       list2.append(diff)
       for a in list2:
          if a in list1:
           list1.remove(a)
  if len(list1)==0:
      print('UB JUMPER')
  else:
      print('Not UB JUMPER')

Enter a string separated by space 1 4 2 3
UB JUMPER
Enter a string separated by space 2 1 4 6 10
UB JUMPER
Enter a string separated by space 1 4 2 -1 6
Not UB JUMPER
Enter a string separated by space STOP

In [ ]:
#4
val1=input('Enter a string separated by space ')
x=val1.split(' ')
x=[int(i) for i in x]
val2=input('Enter a string separated by space ')
y=val2.split(' ')
y=[int(j) for j in y]
count=0
for k in y:
  n=k+x[1]
  if n<=5:
    count+=1
if count>=3:
  print(x[0]//3)
else:
  print(0)

Enter a string separated by space 6 5
Enter a string separated by space 0 1 2 3 4 5
0

# ***Dictonary & Tuple***

In [ ]:
#1
dic1={'a':100, 'b':100, 'c':200, 'd':300}
dic2={'a':300, 'b':200, 'd':400, 'e':200}
new_dic={}
for i in dic1:
   if i in dic2:
     new_dic[i]=dic1[i]+dic2[i]
   else:
     new_dic[i]=dic1[i] 
for i in dic2:
    if i not in dic1:
        new_dic[i] = dic2[i]
print(new_dic)
list1=[]
for x in new_dic.values():
  if x in list1:
    pass
  else:
    list1.append(x)
    list1.sort()
print('values:',tuple(list1))

{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
values: (200, 300, 400, 700)

In [ ]:
1#2
count=0
dict1={}
while True:
  num=input()
  if num=='End':
    break
  else:
    if num in dict1:
      dict1[num]+=1
    else:
      dict1[num]=1
for x,y in dict1.items():
  print(x,'-',y,'times')

10
20
20
30
10
50
90
End
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#3
dic1={'key1':'value1', 'key2':'value2', 'key3':'value1'}
dic2={}
list1=[]
for x,y in dic1.items():
  if y in dic2:
    dic2[y].append(x)
  else:
    dic2[y]=[x]
print(dic2)

{'value1': ['key1', 'key3'], 'value2': ['key2']}

In [ ]:
#4
x=input().upper()
n= {1:['.', ',', '?', '!', ':'], 2:['A', 'B', 'C'], 3:['D', 'E', 'F'], 4:['G', 'H', 'I'], 5:['J', 'K', 'L'], 6:['M', 'N', 'O'], 7:['P', 'Q', 'R', 'S'], 8:['T', 'U', 'V'], 9:['W', 'X', 'Y', 'Z'], 0:[' ']}
result = ""
for i in range(len(x)):
  for k,v in n.items():
      if x[i] in v:
        a=(v.index(x[i]))+1 
        result+=str(k)*a
print(result)

Hello, World!
4433555555666110966677755531111

# ***Function***

In [ ]:
#1
def BMI(height, weight):
  x=weight/((height**2)/10000)
  if x < 18.5:
    print('Score is',"{0:4.1f}".format(x),'.','You are Underweight')
  elif 18.5<=x<=24.9:
    print('Score is',"{0:4.1f}".format(x),'.','You are Normal')
  elif 25<=x<=30:
    print('Score is',"{0:4.1f}".format(x),'.','You are Overweight')
  else:
    print('Score is',"{0:4.1f}".format(x),'.','You are Obese')
BMI(152,48)

Score is 20.8 . You are Normal

In [ ]:
#2
def calculation(min,max,divisor):
  count=0
  store=0
  for i in range(min,max):
    if i%divisor==0:
      store+=i
      count+=1
  return store
print(calculation(3,16,3))

45

In [10]:
#3
def chillox(burger_name,location='Mohakhali'):
  dic1={'BBQ Chicken Burger':250,'Beef Burger':170,'Naga Drums':200}
  for k,v in dic1.items():
    if a in k:
      price=v+v*(8/100)
  if location=="Mohakhali":
    total_price=price+40
  else:
    total_price=price+60
  print(total_price)
a=input()
chillox(a)

Beef Burger
223.6

In [ ]:
#4
def replace_domain(email,new,old='sheba.xyz'):
  for i in range(len(email)):
    if email[i]=='@':
      x=email[0:i+1]
  if new in email:
    print('Unchanged:',email)
  else:
    print('Changed:',x+new)
  #print(x)
replace_domain('bob@sheba.xyz', 'sheba.xyz')

Unchanged: bob@sheba.xyz

In [ ]:
#5
def show_palindrome(a):
 c=''
 for i in range(len(a)):
  b=a[i]
  c+=str(b)
 d=c[-1::-1]
 if d==a:
   print('Palindrome')
 else:
   print('Not a Palindrome')
show_palindrome('hello')

Not a Palindrome

In [ ]:
#6
def capitalization(sentences):
  x=sentences[0].upper()+sentences[1:len(sentences)]
  count=x.count('. ')
  start=0
  end=-1
  for i in range(count):
    position=x.index('. ',start,end)
    start=position+1
    x=x[0:position+2]+x[position+2].upper()+x[position+3:]
  count=x.count('! ')
  start=0
  end=-1
  for i in range(count):
    position=x.index('! ',start,end)
    start=position+1
    x=x[0:position+2]+x[position+2].upper()+x[position+3:]
  count=x.count('? ')
  start=0
  end=-1
  for i in range(count):
    position=x.index('? ',start,end)
    start=position+1
    x=x[0:position+2]+x[position+2].upper()+x[position+3:]
  print(x)
capitalization('my favourite animal is a dog. a dog has sharp teeth so that it can eat flesh very easily. do you know my pet dog’s name? i love my pet very much.')

My favourite animal is a dog. A dog has sharp teeth so that it can eat flesh very easily. Do you know my pet dog’s name? I love my pet very much.